@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x9wcbu');
  src:  url('fonts/icomoon.eot?x9wcbu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x9wcbu') format('truetype'),
    url('fonts/icomoon.woff?x9wcbu') format('woff'),
    url('fonts/icomoon.svg?x9wcbu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jovie_2_blue_calendar1:before {
  content: "\e900";
}
.icon-jovie_2_blue_people1:before {
  content: "\e901";
}
.icon-jovie_2_blue_puzzle1:before {
  content: "\e902";
}
.icon-jovie_290_blue_badge1:before {
  content: "\e903";
}
.icon-T_afterschool_P1:before {
  content: "\e904";
}
.icon-T_calendar_2_P1:before {
  content: "\e905";
}
.icon-T_fulltime_3_P1:before {
  content: "\e906";
}
.icon-T_fulltime_4_P1:before {
  content: "\e907";
}
.icon-T_leave_it_better_P1:before {
  content: "\e908";
}
.icon-T_office_location_P1:before {
  content: "\e909";
}
.icon-T_parttime_4_P1:before {
  content: "\e90a";
}
.icon-T_people_algorithm_3_P1:before {
  content: "\e90b";
}
.icon-T_pick_schedule_2_P1:before {
  content: "\e90c";
}
.icon-T_schedule_1_P1:before {
  content: "\e90d";
}
.icon-T_schedule_2_P1:before {
  content: "\e90e";
}
.icon-T_summer_2_P1:before {
  content: "\e90f";
}
.icon-T_trained_trusted_2_P1:before {
  content: "\e910";
}
